<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paquete1.tallerandroid_adv_rd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Login -->
		<activity
            android:name="paquete1.tallerandroid_adv_rd.Login_Activity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Alumno -->
        <activity 
            android:label="Alumno"
            android:windowSoftInputMode="stateHidden"
            android:name=".Alumno_Activity"></activity>
        <!-- Profesor -->
        <activity 
            android:label="Profesor"
            android:windowSoftInputMode="stateHidden"
            android:name=".Profesor_Activity"></activity>
    </application>
    
    
 <!-- permisos -->
	<uses-permission android:name="android.permission.INTERNET"/>
</manifest>
